.admin-dashboard {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.admin-dashboard h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.project-list {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-header h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.project-header p {
  font-size: 14px;
  color: #ccc;
  margin: 0;
}

.project-description {
  margin-bottom: 15px;
  color: #ddd;
}

.delete-btn {
  padding: 8px 12px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c9302c;
}

.admin-dashboard h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.admin-dashboard form {
  display: flex;
  flex-direction: column;
}

.admin-dashboard label {
  margin-bottom: 8px;
  color: #666;
}

.admin-dashboard input,
.admin-dashboard textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-btn {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover {
  background-color: #4cae4c;
}

.admin-dashboard p {
  text-align: justify;
}

.admin-dashboard p.error {
  color: red;
}

.admin-dashboard p.success {
  color: green;
}

.admin-dashboard h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Add Project Form Styling */
.add-project-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-project-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.add-project-form input,
.add-project-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-project-form textarea {
  height: 100px;
  resize: vertical;
}

.add-project-form button {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.add-project-form button:hover {
  background-color: #4cae4c;
}

.add-project-form .error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.add-project-form .success {
  color: green;
  text-align: center;
  margin-top: 10px;
}